<%- include('partials/header') %>
    <div class="else">
        <div class="card-container">
            <% if (shows) { %>
                <% shows.forEach(show => { %>
                   <div class="card-container">
                        <div class="card-info">
                            <h5><%= show.name %></h5>
                            <p>Episodes <%= show.episodes %></p>
                            <img src="" alt="">
                        </div>
                    </div> 
                <% }) %>
            <% } else { %>
                <div class="card-container">
                    <div class="card-info">
                        <h5>info not found</h5>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
<%- include('partials/footer') %>