<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Sjónvarpsþátt verkefni</h1>
        </header>
        <nav class="nav"> 
            no redirects here, but here's the nav bar
        </nav>
        <main class="main">

